# Import Modules

In [1]:
import pandas as pd

In [2]:
data_list = [
    {"a": 1, "b": [1, 2],
        "c": {
            "1": [1.1, 1.2],
            "prop_tmp": 2.89,
            }
        },

    {"a": 2, "b": [1, 2],
        "c": {
            "1": [1.1, 1.2],
            "prop_tmp": 2.89,
            }
        },

    {"a": 2, "b": [1, 4],
        "c": {
            "1": [1.9, 1.9],
            "prop_tmp": 0.89,
            }
        },

    {"a": 2, "b": [1, 3],
        "c": {
            "1": [2.9, 3.0],
            "prop_tmp": 0.89,
            }
        },

    
    ]

In [3]:
df = pd.DataFrame(data_list)
df

   a       b                                    c
0  1  [1, 2]  {'1': [1.1, 1.2], 'prop_tmp': 2.89}
1  2  [1, 2]  {'1': [1.1, 1.2], 'prop_tmp': 2.89}
2  2  [1, 4]  {'1': [1.9, 1.9], 'prop_tmp': 0.89}
3  2  [1, 3]  {'1': [2.9, 3.0], 'prop_tmp': 0.89}

In [4]:
# df.drop_duplicates(subset="b", keep="last")

In [5]:
import math

def dotproduct(v1, v2):
  return sum((a*b) for a, b in zip(v1, v2))

def length(v):
  return math.sqrt(dotproduct(v, v))

def angle(v1, v2):
  return math.acos(dotproduct(v1, v2) / (length(v1) * length(v2)))

In [7]:
v1 = [1, 0, 0]
v2 = [-4, 1, 0]

In [8]:
angle(v1, v2)

2.896613990462929

In [19]:
from ase import io
from ase.visualize import view

import math

In [24]:
atoms_i = io.read("temp.traj")

In [25]:
atoms_i.cell


angle_i = math.degrees(
    angle(
        atoms_i.cell[0],
        [1., 0., 0.]),
    )

atoms_i.rotate(angle_i, 'z', rotate_cell=True)

In [26]:
view(atoms_i)